
.container-chart {
    display: flex;
    flex-direction: column;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
  }
  .column-label {
    margin-bottom: 5px;
    font-size: 14px; 
    font-weight: normal;
    color: #333;
  }
  .column-set{
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .column {
    padding: 5px 10px;
    background-color: #f3f3f3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    margin: 5px;
    color: black;
    border: 1px solid #ccc; 
  }
  .column.input {
    outline: none; 
    box-sizing: border-box; 
    width: 100%; 
  }
  .col-set{
    background-color: #f3f3f3;
    border-radius: 4px;
    font-size: 14px;
    color: black;
  }
  .outer-div{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .description{
  }
  .description-input{
    background-color: #f3f3f3;
    height: 35px;
    margin: 5px;
    width: 555px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .description-div{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inner-div{
    border: 1px solid #ccc;
    border-radius: 4px;
  }